


// 正文导航样式
.table-of-contents
  p,ul,li,ol
    padding: 0;
    margin: 0;
    list-style: none;

// #valine-vuepress-comment {
//   max-width: 750px;
//   margin: 0 auto;
// }


// #valine-vuepress-comment .vheader input[name="link"] {
//   display: none;
// }

// #valine-vuepress-comment .vheader .vinput {
//   width: 50%;
// }