
body {
  color: #2c3e50;
}

.home-wrapper .banner {
  background-position: bottom !important;
}
// 正文导航样式
.table-of-contents
  p,ul,li,ol
    padding: 0;
    margin: 0;
    list-style: none;

blockquote {
  color: #999;
}

.custom-block.tip {
  color: #2c3e50;
  border-color: rgb(0,170,170);
}


// #valine-vuepress-comment {
//   max-width: 750px;
//   margin: 0 auto;
// }


// #valine-vuepress-comment .vheader input[name="link"] {
//   display: none;
// }

// #valine-vuepress-comment .vheader .vinput {
//   width: 50%;
// }


.right-menu-wrapper .right-menu-content .right-menu-item.level4 {
  padding-left: 44px;
}